html, body {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 54rem;
  height: 77vh;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 21vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-text {
  display: block;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.links {
  font-size: 2rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  padding-bottom: 1.5rem;
}

.github {
  color: #24292e;
}

.linkedin {
  color: #2977c9;
}

.instagram {
  background: linear-gradient(90deg,#feda75 1.79%,#fa7e1e 14.68%,#d62976 48.91%,#952fbf 72.72%,#4f5bd5 97.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #262626;
}

.telegram {
  color: #32afed;
}

h1 {
  font-size: 7rem;
  margin-bottom: 0.25em;
  margin-top: 0;
  font-weight: 700;
}

p {
  font-size: 2rem;
  margin-top: 0;
}

a {
  font-size: 2rem;
  color: #48689a;
}

@media (max-width: 767px) {
  .container {
    padding-top: 50px;
  }

  .main-text {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .links {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
}
